# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\家庭作业\hello-tbt\ivan-shop-mall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
